<div class="jumbotron">
    <div class="container">
    <h1 class="display-4 text-center">About GithubSearch App</h1>
    <hr class="my-4">
    <p>GithubSearch is an Angular app that that uses Git Api to display the profile and the repositories of a person!</p>
    <p>Using GithubSearch, the user will enter their github username and click search to view their profile and repositories</p>
    <p>Developed GithubSearch using the following languages:</p>
    <ul>
        <li>TypeScript</li>
        <li>Html</li>
        <li>Bootstrap & CSS</li>
    </ul>
</div>
  </div>
